<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbarmahasiswa}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbarmahasiswa}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- Start Row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Assessment</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih acara --}}
                                <form action="/assessmentmahasiswa" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Acara</h4>
                                        <h6 class="card-subtitle"> Pilih acara terlebih dahulu untuk menampilkan pertanyaan</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectacara" name="selectacara" style="width: 100%" required>
                                            <option>-- Pilih Acara --</option>
                                            {{#each dataacara}}
                                                <option value="{{ id }}" {{#if ../selectacara}}{{#compare id ../selectacara operator="=="}}selected{{/compare}}{{/if}}>{{ nama }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih acara --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Row --}}
                {{#if selectacara}}
                {{!-- Start Row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Soal</h4>
                            </div> --}}
                            <div class="card-block">
                                <form action="" method="post">
                                    {{!-- Start of tabel list soal --}}
                                    <h4 class="card-title">Soal</h4>
                                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                    <hr>
                                    <div class="table-responsive m-t-40">
                                        <table id="soalassessment" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"></th>
                                                    <th class="text-center" colspan="4">Jawaban</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Pertanyaan</th>
                                                    <th class="text-center">Sangat Tidak Setuju</th>
                                                    <th class="text-center">Tidak Setuju</th>
                                                    <th class="text-center">Setuju</th>
                                                    <th class="text-center">Sangat Setuju</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Pertanyaan</th>
                                                    <th class="text-center">Sangat Tidak Setuju</th>
                                                    <th class="text-center">Tidak Setuju</th>
                                                    <th class="text-center">Setuju</th>
                                                    <th class="text-center">Sangat Setuju</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Apakah anda bla bla bla bla?</td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio1" id="radio1_1" value="option1">
                                                        <label for="radio1_1"> STS </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio1" id="radio1_2" value="option2">
                                                        <label for="radio1_2"> TS </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio1" id="radio1_3" value="option3">
                                                        <label for="radio1_3"> S </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio1" id="radio1_4" value="option4">
                                                        <label for="radio1_4"> SS </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>Apakah anda bla bla bla bla?</td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio2" id="radio2_1" value="option1">
                                                        <label for="radio2_1"> STS </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio2" id="radio2_2" value="option2">
                                                        <label for="radio2_2"> TS </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio2" id="radio2_3" value="option3">
                                                        <label for="radio2_3"> S </label>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="radio" required="required" name="radio2" id="radio2_4" value="option4">
                                                        <label for="radio2_4"> SS </label>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    {{!-- end of tabel soal --}}
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan Jawaban</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Row --}}
                {{!-- Start Row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Soal</h4>
                            </div> --}}
                            <div class="card-block">
                                <form action="" method="post"></form>
                                {{!-- Start of tabel list soal --}}
                                    <h4 class="card-title">Soal</h4>
                                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                    <hr>
                                    <div class="table-responsive m-t-40">
                                        <table id="soalassessment2" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"></th>
                                                    <th class="text-center" colspan="7">Jawaban</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Pertanyaan</th>
                                                    <th class="text-center">Sangat Tidak Setuju</th>
                                                    <th class="text-center">Tidak Setuju</th>
                                                    <th class="text-center">Agak Tidak Setuju</th>
                                                    <th class="text-center">Netral</th>
                                                    <th class="text-center">Agak Setuju</th>
                                                    <th class="text-center">Setuju</th>
                                                    <th class="text-center">Sangat Setuju</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Pertanyaan</th>
                                                    <th class="text-center">Sangat Tidak Setuju</th>
                                                    <th class="text-center">Tidak Setuju</th>
                                                    <th class="text-center">Agak Tidak Setuju</th>
                                                    <th class="text-center">Netral</th>
                                                    <th class="text-center">Agak Setuju</th>
                                                    <th class="text-center">Setuju</th>
                                                    <th class="text-center">Sangat Setuju</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>1.</td>
                                                    <td>Apakah anda bla bla bla bla?</td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_1" value="option1">
                                                        <label for="radio3_1"> STS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_2" value="option2">
                                                        <label for="radio3_2"> TS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_3" value="option3">
                                                        <label for="radio3_3"> ATS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_4" value="option4">
                                                        <label for="radio3_4"> N </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_5" value="option5">
                                                        <label for="radio3_5"> AS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_6" value="option6">
                                                        <label for="radio3_6"> S </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio3" id="radio3_7" value="option7">
                                                        <label for="radio3_7"> SS </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2.</td>
                                                    <td>Apakah anda bla bla bla bla?</td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_1" value="option1">
                                                        <label for="radio4_1"> STS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_2" value="option2">
                                                        <label for="radio4_2"> TS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_3" value="option3">
                                                        <label for="radio4_3"> ATS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_4" value="option4">
                                                        <label for="radio4_4"> N </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_5" value="option5">
                                                        <label for="radio4_5"> AS </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_6" value="option6">
                                                        <label for="radio4_6"> S </label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" required="required" name="radio4" id="radio4_7" value="option7">
                                                        <label for="radio4_7"> SS </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{!-- end of tabel soal --}}
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan Jawaban</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- End Row --}}
                {{/if}}
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/assessmentmahasiswa.js"></script>
</body>

</html>
