<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>503</h1>
                <img src="/images/logo_sapa.png" alt="Home" /><img src="/images/text_sapa.png" alt="Home" />
                <h3 class="text-uppercase">Sapa is Currently Down for Maintenance.</h3>
                <p class="text-muted m-t-30 m-b-30">Please Try Again Later</p>
            <footer class="footer text-center">2021 © Universitas Sriwijaya.</footer>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
</body>

</html>
